

.btn-dark{
  color: #b1adad;
  background-color: #222;
  border-color: #080808;
}

.btn-dark:hover{
  color: #FFF;
}

.btn-dark:focus{
  color: #FFF;
}

.rounded-box {
  padding: 30px;
  border-radius:  10px ;
  border-style: solid;
  border-width: 1px;
  border-color: #969696;  
  }

.rounded-box div{
  margin-top: 3px;
  margin-bottom: 3px;
}

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: SourceSansPro-Regular;
  src: url('../fonts/source-sans-pro/SourceSansPro-Regular.ttf'); 
}

@font-face {
  font-family: SourceSansPro-Bold;
  src: url('../fonts/source-sans-pro/SourceSansPro-Bold.ttf'); 
}

@font-face {
  font-family: SourceSansPro-SemiBold;
  src: url('../fonts/source-sans-pro/SourceSansPro-SemiBold.ttf'); 
}

@font-face {
  font-family: JosefinSans-Bold;
  src: url('../fonts/JosefinSans/JosefinSans-Bold.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

body, html {
	height: 100%;
  font-family: SourceSansPro-Regular, sans-serif;
  
}
