{% extends 'base.html.twig' %}

{% block body %}

     <h1>Tiendas</h1>
        <div class="col-sm-10"></div>
        <button class="btn btn-dark col-sm-2" onClick="window.location = '/tienda/nueva'">
                Nueva Tienda
           </button>
        <br>
        <br>
        <br>
        <br>
        <div class="col-sm-2"></div>
        <div class="col-sm-8 text-center">
        <table class="table table-striped">
                <thead class="thead-dark">
                        <tr>
                                <th scope="col" class="text-center">Nombre Tienda</th>
                                <th scope="col" class="text-center">Dirección</th>
                                <th scope="col" class="text-center">Acciones</th>
                        </tr>
                </thead>
                <tbody>
                {% for tienda in tiendas %}
                <tr>
                        <td>{{ tienda.getNombreTienda() }}</td>                       
                        <td>{{ tienda.getCalleTienda() }}</td> 
                        
                        <td>
                        <button type="button" class="btn btn-dark" onClick="window.location = '/tienda/editar/{{tienda.getId()}}'"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button type="button" class="btn btn-dark" onClick="window.location = '/tienda/borrar/{{tienda.getId()}}'"><span class="glyphicon glyphicon-trash"></span></button>
                        </td>
                </tr>
                {% endfor %}       
        </tbody>
        </table> 
</div>
        <div class="col-sm-2"></div>



{% endblock %}
